{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang Mysql Curd Example</title>
        <meta charset="UTF-8" />
        <script src="/static/jquery.min.js" type="application/javascript"></script>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <script src="/static/bootstrap.js" type="application/javascript" ></script>

    </head>
    <body>
        <h1>Golang Mysql Curd Example</h1>
{{ end }}